*{
    margin: 0;
    padding: 0;
}
html{
    background-color: aqua;
    /* Radial gradient background css3 feature*/
    background: radial-gradient(rgba(32, 239, 239, 0.5),rgba(247, 244, 244, 0.3),rgba(167, 188, 9, 0.3));
    text-align: center;
}
#namediv{
    margin-top: 50px;
}
.input{
    font-size: 30px;
    color: rgba(137, 232, 41, 0.717);
    font-family: 'Times New Roman';
    margin: 20px;
}
#entry{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color:blue;
    margin: auto;
}
table{/*as only 1 table we can directly select it*/
 width: 50%;
 margin:50px auto;
 background-color: burlywood;
}
table,th,td{
    border: 2px solid black;
    padding: 5px;
}
th{
    font-size: 27px;
    color: rgb(172, 127, 255);
}
td{
font-size: 23px;
color:crimson;
}